*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/

# ide-related
.classpath
.project
.settings/
.idea/
*.iml

# tmp files
*.swp
*.swo
*~
learningsystems/aleph/Linux-x86_64/
learningsystems/aleph/aleph.pl
learningsystems/dllearner/dllearner-*/
learningsystems/golem/Linux-x86_64/
sml-temp*
learningsystems/progolem/source/*
learningsystems/dllearner/log
learningsystems/progol/progol
/nbproject/